* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slan', sans-serif;
}

body{
  background-color: black;
  color: white;
  padding: 30px 160px 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
